@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.home_bg {
    background-image: url("https://th.bing.com/th/id/OIP.ahW6YvI-o1jqJzgs1gratgHaEK?pid=ImgDet&rs=1");
    height: 100vh;
    background-size: cover;

}

.img {
    height: 60px;
    border-radius: 10px;
}

.nav_bg {
    background-color: rgb(237, 161, 94);
}

.home_heading {
    color: rgb(146, 61, 61);
    text-decoration: underline rgb(169, 79, 37);
    font-family: sans;
}

.home_para {
    color: chocolate;
    font-weight: bold;
    font-size: 30px;
}

.products_card {
    background-color: lightgrey;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

.products_card_img {
    height: 150px;
    width: 200px;
    border-radius: 10px;
}

.products_bg {
    background-color: #c7a05d;
}

.About_bg {
    background-color: #c7a05d;
    padding: 10px
}

.l_img {
    height: 150px;
    width: 250px;
    border-radius: 10px;

}

.About_crad {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;

}



.follow-us-section {
    background-color: white;
}

.follow-us-section-heading {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    color: #183b56;
    text-align: center;
}

.follow-us-icon-container {
    background-color: #faf7e8;
    width: 60px;
    height: 60px;
    border-radius: 40px;
    margin: 8px;
    padding-top: 15px;
    padding-bottom: 14px;
    padding-right: 16px;
    padding-left: 17px;
}


.Items {
    list-style-type: none;

}

.icon {
    color: #c7a05d;
    font-size: 30px;
}

.footer-section {
    background-color: #c7a05d;
}

.footer-section-mail-id {
    color: white;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
}

.footer-section-address {
    color: white;
    font-family: "Roboto";
    font-size: 14px;
}

.sofa_bg {
    background-color: lightblue;
    padding: 5px;
}

.crad {
    background-color: white;
    padding: 10px;
}

.sofa_img {
    border-radius: 10px;
    height: 750px;
}

.Product_details {
    background-color: white;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px lightgrey;
}

.Product_heading {
    color: grey;
    text-decoration: underline;

}

.Product_para {
    font-weight: bold;
}